html{
    font-size: 10px;
}
body{
    margin: 0;
    font-family: "Lato", "sans-serif";
    background-color: #f7f7f7;
}

/*########## Navigation ##########*/
#navigation{
    position: fixed;
    z-index: 40;
    width: 100%;
    background-color: #f0Ead6;
    text-align: center;
    height: 10rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 55% 70%, 50% 100%, 45% 70%, 0% 70%);
    transition: all 0.5s ease-in-out;
}
#navigation a{
    text-decoration: none;
    font-size: 3rem;
    padding: 1rem 5rem;
    line-height: 6.5rem;
    font-family: 'Kaushan Script';
    margin: auto;
    color: #373737
}
#navigation a:active {
    font-size: 4rem;
}

.icon{
    display: none;
}

/*########## Navigation ##########*/
header{
    height: 100vh;
    width: 100%;
    background-image: url(./img/imgBackground.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    margin: 0;
    color: #f7f7f7;
    position: relative;
    top: 30rem;
    font-family: 'Kaushan Script';
    font-size: 11rem;
}
header h2{
    text-align: center;
    margin: 0;
    color: #f7f7f7;
    position: relative;
    top: 32rem;
    font-family: 'Abril Fatface';
    font-size: 5rem;
    letter-spacing: 0.2rem;
}
header #arrow{
    color: black;
    height: 8rem;
    width: 8rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); /* Permet de decaler l'image de la moitie de sa taille pour la centrer correctement */
    font-size: 4rem;
    line-height: 8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: #f7f7f7;
    box-shadow: 0 0 0 0 #f7f7f7;
    animation: pulse 1.3s infinite;
}

@keyframes pulse{
    to{
        /* 0(x), 0(y), 0(flou), 1rem (etendue) */
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.01);
    }
}